/* Website template by freewebsitetemplates.com */
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  align-content: center;
  width: 100%;
}
body #page {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: auto;
}
a {
  text-decoration: none;
  outline: none;
}
a:active {
  background: none;
}
img {
  border: none;
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
#header div {
  margin: 0 auto;
  min-height: 200px;
  padding: 0 10px;
}
#header div a.logo {
  display: block;
  float: left;
  height: 106px;
  margin: 44px 0 0;
  padding: 0;
  width: 320px;
}
#header div a.logo img {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}
#header div ul {
  display: block;
  float: right;
  list-style: none outside none;
  margin: 0 auto;
  padding: 102px 0 0px;
  text-align: center;
}
#header div ul li {
  display: inline-block;
  *float: left; /* Needed for IE7 and old versions */
  margin: 0 0 0 10px;
  padding: 0;
  width: auto;
}
#header div ul li a {
  color: #000000;
  font-family: "Arial Black";
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
#header div ul li.selected a,
#header div ul li.selected a:hover {
  color: #fb416f;
}
#header div ul li a:hover {
  color: #16ab88;
}
#header div ul li ul {
  display: none;
}
#header span#mobile-navigation,
#header span#mobile-submenu,
#header div ul li ul {
  display: none;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body {
  border-top: 2px solid #252525;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
#body.home div {
  background: none;
  margin: 0;
  max-width: none;
  padding: 0 0 5px;
  width: 100%;
}
#body.home div.header div {
  background: none;
  margin: 0 auto;
  max-width: 960px;
}
#body.home div.header div h1 {
  background: none;
  color: #000000;
  display: block;
  font-family: "Arial Black";
  font-size: 110px;
  font-weight: normal;
  line-height: 96px;
  margin: 0 auto 32px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 89.5833%;
}
#body.home div.header div span {
  display: block;
  margin: 0 auto 52px;
  max-width: 350px;
  overflow: hidden;
  padding: 0;
  width: 37.4583%;
}
#body.home div.header div span a.email {
  border: 5px solid #000000;
  color: #000000;
  display: block;
  float: left;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  height: 47px;
  line-height: 47px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 63.142857142857%;
}
#body.home div.header div span a.signup {
  border: 5px solid #000000;
  border-left: none;
  color: #000000;
  display: block;
  float: left;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  height: 47px;
  line-height: 47px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 32.571428571429%;
}
#body.home div.header div img {
  display: block;
  margin: 0 auto;
  padding: 0;
}
#body.home div.body {
  background: url(../images/bg-transparent1.png) repeat;
  margin: 0;
  padding: 0;
  width: 100%;
}
#body.home div.body div {
  background: none;
  margin: 0 auto;
  max-width: 960px;
  padding: 54px 0 86px;
}
#body.home div.body div h1 {
  background: url(../images/bg-border1.gif) no-repeat center bottom;
  color: #ffffff;
  font-family: "Arial Black";
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  padding: 0 0 50px;
  text-align: center;
  text-transform: uppercase;
}
#body.home div.body div p {
  background: url(../images/bg-border1.gif) no-repeat center bottom;
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 48px;
  margin: 12px auto 0;
  padding: 0 0 12px;
  text-align: center;
  width: 63.6458%;
}
#body.home div.body div p a {
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
#body.home div.body div p a:hover {
  color: #fc416f;
}
#body.home div.body div a.more {
  border: 5px solid #ffffff;
  color: #ffffff;
  display: block;
  font-family: "Arial Black";
  font-size: 20px;
  font-weight: normal;
  height: 47px;
  line-height: 47px;
  margin: 30px auto 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 230px;
}
#body.home div.body div a.more:hover {
  background-color: #ffffff;
  color: #fb416f;
}
/*----------------------------------------body-styles---------------------------------------*/
#body div {
  background: url(../images/bg-transparent2.png) repeat;
  margin: 0 auto;
  width: 85%;
  overflow: hidden;
  padding: 20px 0 0px;
}
#body div h1 {
  background: url(../images/bg-border2.gif) no-repeat center bottom;
  color: #e9b511;
  font-family: "Arial Black";
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

#body div p {
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

#body div p span {
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.03em;
  line-height: 48px;
  padding: 39px 0;
}
#body div p span a {
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  line-height: 48px;
}
#body div p a {
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
#body div p a:hover {
  color: #fc416f;
}

#body div ul.gallery {
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 76px;
  max-width: none;
  padding: 72px 0 0;
  width: 100%;
}
#body div ul.gallery li {
  border: none;
  float: left;
  margin: 0 10px;
  padding: 0;
  width: 300px;
}
#body div ul.gallery li a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
}
#body div ul.gallery li a img {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
}
#body div h3 {
  background: url(../images/bg-border1.gif) no-repeat center top;
  color: #ffffff;
  display: block;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 48px;
  margin: 0 auto 15px;
  padding: 18px 0 0;
  text-align: center;
  width: 611px;
}
#body div h3 span {
  background: url(../images/bg-border1.gif) no-repeat center bottom;
  display: block;
  margin: 0;
  padding: 0 0 11px;
  width: auto;
}

#body div ul {
  display: inline-block;
  list-style: none outside none;
  margin: 0;
  max-width: 780px;
  padding: 72px 90px 49px;
}
#body div ul li:first-child {
  border: none;
  padding: 0 0 0 0;
}
#body div ul li {
  border-top: 2px solid #363636;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 40px 0 0;
  width: auto;
}
#body div ul li img {
  display: block;
  float: left;
  margin: 0 28px 0 0;
  padding: 0;
  width: auto;
}
#body div ul li div {
  background: none;
  float: left;
  margin: 0;
  max-width: none;
  overflow: hidden;
  padding: 6px 0 0;
  width: 522px;
}
#body div ul li div h1 {
  background: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 16px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: auto;
}
#body div ul li div p {
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 48px;
  margin: 0 0 6px;
  padding: 0;
  text-align: left;
  width: auto;
}
#body div ul li div p a {
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}
#body div ul li div p a:hover {
  color: #fc416f;
}
#body div ul li div a.more {
  border: 2px solid #ffffff;
  color: #ffffff;
  display: block;
  float: left;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 136px;
}
#body div ul li div a.more:hover {
  background-color: #fc416f;
  border: none;
  height: 38px;
  line-height: 38px;
  width: 140px;
}

.socialIcon {
  aspect-ratio: inherit;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 80px;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
  background-color: #111111;
  margin: 0;
  min-height: 122px;
  padding: 0;
  width: 100%;
}
#footer div {
  margin: 0 auto;
  max-width: 940px;
  overflow: hidden;
  padding: 10px 10px 10px;
}
#footer div p {
  color: #ffffff;
  float: left;
  font-family: Arial;
  font-size: 15px;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  padding: 5px 0 0;
  text-align: left;
  text-transform: none;
  width: 400px;
}

.collapsible {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 18px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 50%;
}

.collapsible:hover {
  background-color: rgb(44, 43, 43);
}

.content {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#contactPage {
  display: flex;
}

#sendMessageH2 {
  text-align: left;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea,
input[type="submit"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  color: white;
  font-family: Arial;
}

#HomeHeader {
  font-size: 300%;
  background-color: #ecb414;
  width: 100%;
  opacity: 80%;
  color: #64004b;
  text-align: center;
  font-family: arial;
  padding: 1% 10% 1% 10%;
  font-weight: bold;
  margin: 20px 0px 20px 0px;
}
#HomeItemsDiv {
  display: flex;
  min-width: 100%;
}
.HomeItems {
  width: 50%;
}
.aboutImage {
  float: left;
  width: 40%;
  margin-left: 20px;
  margin-right: 20px;
}
#googleDrive {
  display: flex;
}

#googleDrive img {
  width: 26.5%;
}
#googleDriveIframe {
  position: absolute;
  width: 60%;
  height: 70%;
  right: 17%;
  top: 15%;
}

#mobileHeader {
  display: none;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
